<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="static/global.css" rel="stylesheet">

    <title>stoRIA</title>
  </head>
  <body>

    <!--Começo Header-->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid row">
          <div class="col-1 centralize">
            <a class="navbar-brand" href="#">
                <img src="https://github.com/TailUFPB.png" alt="" width="120" height="98" class="d-inline-block align-text-top">          
            </a>
          </div>
          
          <div class="col-1">
            <a class="navbar-brand" href="http://127.0.0.1:5000/members">
                <span class="d-inline-block align-text-top">Membros</span>
            </a>
          </div>
          <div class="col-1 centralize">
            <a class="navbar-brand" href="https://aria.ci.ufpb.br/tail/">
                <span class="d-inline-block align-text-top">TAIL</span>
            </a>
          </div>
          <div class="col-1 centralize">
            <a class="navbar-brand" href="http://127.0.0.1:5000/social">
                <span class="d-inline-block align-text-top">Redes Sociais</span>
            </a>
          </div>
          <div class="col centralize">
              <h1 ><a href="http://127.0.0.1:5000/">storIA</a> </h1> <br>
           
          </div>
    
          <div class="col">

          </div>

    </nav>     
    <br>
          <div class="row">
              <div class="col"></div>
              <div class="col centralize">
                <button class="btn btn-primary" 
                type="button" 
                data-bs-toggle="offcanvas" 
                data-bs-target="#offcanvasRight" 
                aria-controls="offcanvasRight"
                onclick=""
                >
                    Comece já!
                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                          <h5 id="offcanvasRightLabel">Tutorial</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <h2>Descrição</h2>
                        <span>O storIA é projeto no qual consiste em escrever histórias de terror com auxilio da Inteligência Artificial e Aprendizado de Máquina.

                        </span>
                        <br><br><br>
                        <h2>Siga o Passo a Passo</h2>
                        <span class="spanConfig">1) Comece escrevendo o início da história</span> <br>
                        <span class="spanConfig">2) Aperte a tecla Tab para que a IA continue com mais um trecho</span> <br>
                        <span class="spanConfig">3) Continue alternando para que fique uma história mesclada</span> <br>
                        <br><br><br>
                        <h2>Créditos</h2>
                        <span>Os textos usados para treinar a IA foram retirados do subreddit 
                            <b>
                                <a class="linkConfig" href="https://www.reddit.com/r/shortscarystories/">shortscarystories</a>
                            </b>
                            
                        </span>
                        
                    </div>
                </div> 
            </div>
              <div class="col"></div>
          </div>   
        </div>
    
    <!--Fim Header-->

    <!--Começo Corpo-->

    <div class="row txtAreaContainer">
        <div class="col-2"></div>

        <div class="col txtAreaExt">
          <div class=" mb-3 titleText ">
            <input type="email" class="form-control formControl no-border centralize" id="floatingInput" placeholder="Title">
          </div>

          <div class="form-floating centralize txtAreaInt">
            <form action="/submit" method="POST" style="width: 100%;" >
              <!-- Button trigger modal -->
              <div class="row">
                <div class="col">
                  <span>
                    Temperature:
                  </span>  <br>
                  <select class="form-control" name="temperature[]" id="temperature">
                    <option value=1>Default</option>
                    <option value=1.2>Creative</option>
                    <option value=1.5>Very Creative</option>
                  </select>
                </div>
                <div class="col">
                  <span>
                    Length: 
                  </span> <br>
                  <select class="form-control" name="length[]" id="length">
                    <option value=50>Small</option>
                    <option value=100>Medium</option>
                    <option value=200>Big</option>
                  </select>
                </div>
                <div class="col">
                  <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Completar
                  </button>

                </div>
              </div>

              <br><br>

              <textarea name="text[]" class="form-control txtArea"style="height:auto!important" rows="50"placeholder="Type Here" id="text">{{suggestion_text}}</textarea>
            </form>
            
          </div>



        </div>

        <div class="col-2"></div>

    </div>
          
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script>

    </script>
  </body>
</html>